<a href="https://colab.research.google.com/github/haneulllll/DataStudy/blob/main/%EB%B3%B5%EC%8A%B5_%EC%9D%B4%ED%95%9C%EC%9D%8486_0317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
tt = sns.load_dataset('titanic')

**sort 정렬**

: sort_values('컬럼명')


IF 여러 기준으로 정렬할 경우

: sort_values(['1순위컬럼명','2순위컬럼명'...])

In [ ]:
tt.sort_values('fare') # 오름차순으로 정렬

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
271,1,3,male,25.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
597,0,3,male,49.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
302,0,3,male,19.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
277,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,0,1,male,64.0,1,4,263.0000,S,First,man,True,C,Southampton,no,False
341,1,1,female,24.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False

In [ ]:
tt.sort_values('fare', ascending=False) # 내림차순으로 정렬

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
413,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
822,0,1,male,38.0,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
674,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True

In [ ]:
tt.sort_values(['fare','class']) # fare 기준으로 정렬 후, class 기준으로 2차 정렬

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
263,0,1,male,40.0,0,0,0.0000,S,First,man,True,B,Southampton,no,True
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
806,0,1,male,39.0,0,0,0.0000,S,First,man,True,A,Southampton,no,True
815,0,1,male,NaN,0,0,0.0000,S,First,man,True,B,Southampton,no,True
822,0,1,male,38.0,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,1,1,female,24.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
438,0,1,male,64.0,1,4,263.0000,S,First,man,True,C,Southampton,no,False
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True

In [ ]:
tt.sort_values(['fare','class'], ascending = [False, True]) # 오름차순,내림차순 각각 설정가능함

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
27,0,1,male,19.0,3,2,263.0000,S,First,man,True,C,Southampton,no,False
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
179,0,3,male,36.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
271,1,3,male,25.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,yes,True
302,0,3,male,19.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True
597,0,3,male,49.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,no,True

**파생변수 만들기**

1. ['새로운 칼럼명'] = 0
2. assign(변수명=조건식, 조건에 맞는 값, 그외 값)

In [ ]:
tt['sex_onehot']=0 # 새로운 파생변수(칼럼) 생성 (default 값이 0)
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0

In [ ]:
# 성별이 남성이면 0을 여성이면 1을 나타내는 파생변수 sex_onthot 완성하기

for i in range(len(tt)) :
  if tt.sex.loc[i] == 'male' :
    tt['sex_onehot'].loc[i] = 0
  else :
    tt['sex_onehot'].loc[i] = 1

tt

<ipython-input-13-f6f195077fa4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['sex_onehot'].loc[i] = 0
<ipython-input-13-f6f195077fa4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['sex_onehot'].loc[i] = 1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0

In [ ]:
print(tt.sex_onehot.value_counts()) # sex_onthot 칼럼의 개수 카운트

0    577
1    314
Name: sex_onehot, dtype: int64

In [ ]:
print(tt.sex.value_counts()) # sex 칼럼의 개수 카운트

male      577
female    314
Name: sex, dtype: int64

In [ ]:
tt.fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64

In [ ]:
tt.fare * 100

0       725.00
1      7128.33
2       792.50
3      5310.00
4       805.00
        ...
886    1300.00
887    3000.00
888    2345.00
889    3000.00
890     775.00
Name: fare, Length: 891, dtype: float64

In [ ]:
tt['fare_100'] = tt.fare * 100 # 파생변수 처음 생성할 때 값을 바로 지정가능
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot,fare_100
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,725.00
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,7128.33
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,792.50
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,5310.00
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,805.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,1300.00
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,3000.00
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,2345.00
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,3000.00
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,775.00

In [ ]:
import numpy as np # numpy의 np.where 함수를 이용하여 조건에 맞는 값을 찾을 수 있다.

In [ ]:
tt.assign(fare_compare = np.where(tt['fare'] >= 10, 'High', 'Low'))

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot,fare_100,fare_compare
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,725.00,Low
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,7128.33,High
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,792.50,Low
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,5310.00,High
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,805.00,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,1300.00,High
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,3000.00,High
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,2345.00,High
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,3000.00,High
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,775.00,Low

In [ ]:
# lambda를 이용하여 조건에 맞는 값을 찾을 수 있다.

tt.assign(re_fare_100 = lambda x : x['fare_100']/x['fare'])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot,fare_100,re_fare_100
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,0,725.00,100.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1,7128.33,100.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,1,792.50,100.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1,5310.00,100.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0,805.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,1300.00,100.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,1,3000.00,100.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,1,2345.00,100.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,0,3000.00,100.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,0,775.00,100.0

**Group by**
: 그룹화하는 함수

In [ ]:
grouped = tt.groupby('pclass') # pclass 기준으로 그룹화한다.(결과는 grouped에 저장)

In [ ]:
grouped

In [ ]:
for i,j in grouped :
  print(i)
  print(j.head(10))

1
    survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1          1       1  female  38.0      1      0   71.2833        C  First
3          1       1  female  35.0      1      0   53.1000        S  First
6          0       1    male  54.0      0      0   51.8625        S  First
11         1       1  female  58.0      0      0   26.5500        S  First
23         1       1    male  28.0      0      0   35.5000        S  First
27         0       1    male  19.0      3      2  263.0000        S  First
30         0       1    male  40.0      0      0   27.7208        C  First
31         1       1  female   NaN      1      0  146.5208        C  First
34         0       1    male  28.0      1      0   82.1708        C  First
35         0       1    male  42.0      1      0   52.0000        S  First

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
1   woman       False    C    Cherbourg   yes  False           1   7128.33
3   woman       False    C  Southampton   yes  False           1   5310.00
6     man        True    E  Southampton    no   True           0   5186.25
11  woman       False    C  Southampton   yes   True           1   2655.00
23    man        True    A  Southampton   yes   True           0   3550.00
27    man        True    C  Southampton    no  False           0  26300.00
30    man        True  NaN    Cherbourg    no   True           0   2772.08
31  woman       False    B    Cherbourg   yes  False           1  14652.08
34    man        True  NaN    Cherbourg    no  False           0   8217.08
35    man        True  NaN  Southampton    no  False           0   5200.00
2
    survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
9          1       2  female  14.0      1      0  30.0708        C  Second
15         1       2  female  55.0      0      0  16.0000        S  Second
17         1       2    male   NaN      0      0  13.0000        S  Second
20         0       2    male  35.0      0      0  26.0000        S  Second
21         1       2    male  34.0      0      0  13.0000        S  Second
33         0       2    male  66.0      0      0  10.5000        S  Second
41         0       2  female  27.0      1      0  21.0000        S  Second
43         1       2  female   3.0      1      2  41.5792        C  Second
53         1       2  female  29.0      1      0  26.0000        S  Second
56         1       2  female  21.0      0      0  10.5000        S  Second

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
9   child       False  NaN    Cherbourg   yes  False           1   3007.08
15  woman       False  NaN  Southampton   yes   True           1   1600.00
17    man        True  NaN  Southampton   yes   True           0   1300.00
20    man        True  NaN  Southampton    no   True           0   2600.00
21    man        True    D  Southampton   yes   True           0   1300.00
33    man        True  NaN  Southampton    no   True           0   1050.00
41  woman       False  NaN  Southampton    no  False           1   2100.00
43  child       False  NaN    Cherbourg   yes  False           1   4157.92
53  woman       False  NaN  Southampton   yes  False           1   2600.00
56  woman       False  NaN  Southampton   yes   True           1   1050.00
3
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0          0       3    male  22.0      1      0   7.2500        S  Third
2          1       3  female  26.0      0      0   7.9250        S  Third
4          0       3    male  35.0      0      0   8.0500        S  Third
5          0       3    male   NaN      0      0   8.4583        Q  Third
7          0       3    male   2.0      3      1  21.0750        S  Third
8          1       3  female  27.0      0      2  11.1333        S  Third
10         1       3  female   4.0      1      1  16.7000        S  Third
12         0       3    male  20.0      0      0   8.0500        S  Third
13         0       3    male  39.0      1      5  31.2750        S  Third
14         0       3  female  14.0      0      0   7.8542        S  Third

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
0     man        True  NaN  Southampton    no  False           0    725.00
2   woman       False  NaN  Southampton   yes   True           1    792.50
4     man        True  NaN  Southampton    no   True           0    805.00
5     man        True  NaN   Queenstown    no   True           0    845.83
7   child       False  NaN  Southampton    no  False           0   2107.50
8   woman       False  NaN  Southampton   yes  False           1   1113.33
10  child       False    G  Southampton   yes  False           1   1670.00
12    man        True  NaN  Southampton    no   True           0    805.00
13    man        True  NaN  Southampton    no  False           0   3127.50
14  child       False  NaN  Southampton    no   True           1    785.42

In [ ]:
# 그룹화한 결과(grouped)에서 원하는 소그룹만 출력하기
grouped.get_group(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,sex_onehot,fare_100
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,1,3007.08
15,1,2,female,55.0,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True,1,1600.00
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True,0,1300.00
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True,0,2600.00
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True,0,1300.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False,1,1385.83
874,1,2,female,28.0,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False,1,2400.00
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False,1,2600.00
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True,0,1050.00
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,0,1300.00

In [ ]:
# 2가지 이상의 기준을 가지고 그룹화하기 -> 리스트 이용
groups = tt.groupby(['pclass','survived'])

In [ ]:
groups

In [ ]:
for i,j in groups :
  print(i)
  print(j.head(10))

(1, 0)
    survived  pclass   sex   age  sibsp  parch      fare embarked  class  who  \
6          0       1  male  54.0      0      0   51.8625        S  First  man
27         0       1  male  19.0      3      2  263.0000        S  First  man
30         0       1  male  40.0      0      0   27.7208        C  First  man
34         0       1  male  28.0      1      0   82.1708        C  First  man
35         0       1  male  42.0      1      0   52.0000        S  First  man
54         0       1  male  65.0      0      1   61.9792        C  First  man
62         0       1  male  45.0      1      0   83.4750        S  First  man
64         0       1  male   NaN      0      0   27.7208        C  First  man
83         0       1  male  28.0      0      0   47.1000        S  First  man
92         0       1  male  46.0      1      0   61.1750        S  First  man

    adult_male deck  embark_town alive  alone  sex_onehot  fare_100
6         True    E  Southampton    no   True           0   5186.25
27        True    C  Southampton    no  False           0  26300.00
30        True  NaN    Cherbourg    no   True           0   2772.08
34        True  NaN    Cherbourg    no  False           0   8217.08
35        True  NaN  Southampton    no  False           0   5200.00
54        True    B    Cherbourg    no  False           0   6197.92
62        True    C  Southampton    no  False           0   8347.50
64        True  NaN    Cherbourg    no   True           0   2772.08
83        True  NaN  Southampton    no   True           0   4710.00
92        True    E  Southampton    no  False           0   6117.50
(1, 1)
    survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
1          1       1  female  38.0      1      0   71.2833        C  First
3          1       1  female  35.0      1      0   53.1000        S  First
11         1       1  female  58.0      0      0   26.5500        S  First
23         1       1    male  28.0      0      0   35.5000        S  First
31         1       1  female   NaN      1      0  146.5208        C  First
52         1       1  female  49.0      1      0   76.7292        C  First
55         1       1    male   NaN      0      0   35.5000        S  First
61         1       1  female  38.0      0      0   80.0000      NaN  First
88         1       1  female  23.0      3      2  263.0000        S  First
97         1       1    male  23.0      0      1   63.3583        C  First

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
1   woman       False    C    Cherbourg   yes  False           1   7128.33
3   woman       False    C  Southampton   yes  False           1   5310.00
11  woman       False    C  Southampton   yes   True           1   2655.00
23    man        True    A  Southampton   yes   True           0   3550.00
31  woman       False    B    Cherbourg   yes  False           1  14652.08
52  woman       False    D    Cherbourg   yes  False           1   7672.92
55    man        True    C  Southampton   yes   True           0   3550.00
61  woman       False    B          NaN   yes   True           1   8000.00
88  woman       False    C  Southampton   yes  False           1  26300.00
97    man        True    D    Cherbourg   yes  False           0   6335.83
(2, 0)
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
20          0       2    male  35.0      0      0  26.0000        S  Second
33          0       2    male  66.0      0      0  10.5000        S  Second
41          0       2  female  27.0      1      0  21.0000        S  Second
70          0       2    male  32.0      0      0  10.5000        S  Second
72          0       2    male  21.0      0      0  73.5000        S  Second
99          0       2    male  34.0      1      0  26.0000        S  Second
117         0       2    male  29.0      1      0  21.0000        S  Second
120         0       2    male  21.0      2      0  73.5000        S  Second
122         0       2    male  32.5      1      0  30.0708        C  Second
134         0       2    male  25.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
20     man        True  NaN  Southampton    no   True           0   2600.00
33     man        True  NaN  Southampton    no   True           0   1050.00
41   woman       False  NaN  Southampton    no  False           1   2100.00
70     man        True  NaN  Southampton    no   True           0   1050.00
72     man        True  NaN  Southampton    no   True           0   7350.00
99     man        True  NaN  Southampton    no  False           0   2600.00
117    man        True  NaN  Southampton    no  False           0   2100.00
120    man        True  NaN  Southampton    no  False           0   7350.00
122    man        True  NaN    Cherbourg    no  False           0   3007.08
134    man        True  NaN  Southampton    no   True           0   1300.00
(2, 1)
    survived  pclass     sex    age  sibsp  parch     fare embarked   class  \
9          1       2  female  14.00      1      0  30.0708        C  Second
15         1       2  female  55.00      0      0  16.0000        S  Second
17         1       2    male    NaN      0      0  13.0000        S  Second
21         1       2    male  34.00      0      0  13.0000        S  Second
43         1       2  female   3.00      1      2  41.5792        C  Second
53         1       2  female  29.00      1      0  26.0000        S  Second
56         1       2  female  21.00      0      0  10.5000        S  Second
58         1       2  female   5.00      1      2  27.7500        S  Second
66         1       2  female  29.00      0      0  10.5000        S  Second
78         1       2    male   0.83      0      2  29.0000        S  Second

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
9   child       False  NaN    Cherbourg   yes  False           1   3007.08
15  woman       False  NaN  Southampton   yes   True           1   1600.00
17    man        True  NaN  Southampton   yes   True           0   1300.00
21    man        True    D  Southampton   yes   True           0   1300.00
43  child       False  NaN    Cherbourg   yes  False           1   4157.92
53  woman       False  NaN  Southampton   yes  False           1   2600.00
56  woman       False  NaN  Southampton   yes   True           1   1050.00
58  child       False  NaN  Southampton   yes  False           1   2775.00
66  woman       False    F  Southampton   yes   True           1   1050.00
78  child       False  NaN  Southampton   yes  False           0   2900.00
(3, 0)
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0          0       3    male  22.0      1      0   7.2500        S  Third
4          0       3    male  35.0      0      0   8.0500        S  Third
5          0       3    male   NaN      0      0   8.4583        Q  Third
7          0       3    male   2.0      3      1  21.0750        S  Third
12         0       3    male  20.0      0      0   8.0500        S  Third
13         0       3    male  39.0      1      5  31.2750        S  Third
14         0       3  female  14.0      0      0   7.8542        S  Third
16         0       3    male   2.0      4      1  29.1250        Q  Third
18         0       3  female  31.0      1      0  18.0000        S  Third
24         0       3  female   8.0      3      1  21.0750        S  Third

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
0     man        True  NaN  Southampton    no  False           0    725.00
4     man        True  NaN  Southampton    no   True           0    805.00
5     man        True  NaN   Queenstown    no   True           0    845.83
7   child       False  NaN  Southampton    no  False           0   2107.50
12    man        True  NaN  Southampton    no   True           0    805.00
13    man        True  NaN  Southampton    no  False           0   3127.50
14  child       False  NaN  Southampton    no   True           1    785.42
16  child       False  NaN   Queenstown    no  False           0   2912.50
18  woman       False  NaN  Southampton    no  False           1   1800.00
24  child       False  NaN  Southampton    no  False           1   2107.50
(3, 1)
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
2          1       3  female  26.0      0      0   7.9250        S  Third
8          1       3  female  27.0      0      2  11.1333        S  Third
10         1       3  female   4.0      1      1  16.7000        S  Third
19         1       3  female   NaN      0      0   7.2250        C  Third
22         1       3  female  15.0      0      0   8.0292        Q  Third
25         1       3  female  38.0      1      5  31.3875        S  Third
28         1       3  female   NaN      0      0   7.8792        Q  Third
32         1       3  female   NaN      0      0   7.7500        Q  Third
36         1       3    male   NaN      0      0   7.2292        C  Third
39         1       3  female  14.0      1      0  11.2417        C  Third

      who  adult_male deck  embark_town alive  alone  sex_onehot  fare_100
2   woman       False  NaN  Southampton   yes   True           1    792.50
8   woman       False  NaN  Southampton   yes  False           1   1113.33
10  child       False    G  Southampton   yes  False           1   1670.00
19  woman       False  NaN    Cherbourg   yes   True           1    722.50
22  child       False  NaN   Queenstown   yes   True           1    802.92
25  woman       False  NaN  Southampton   yes  False           1   3138.75
28  woman       False  NaN   Queenstown   yes   True           1    787.92
32  woman       False  NaN   Queenstown   yes   True           1    775.00
36    man        True  NaN    Cherbourg   yes   True           0    722.92
39  child       False  NaN    Cherbourg   yes  False           1   1124.17

In [ ]:
groups.mean() # 평균구하기

<ipython-input-31-497bacb8180a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.mean()

                       age     sibsp     parch       fare  adult_male  \
pclass survived
1      0         43.695312  0.287500  0.300000  64.684007    0.962500
       1         35.368197  0.492647  0.389706  95.608029    0.308824
2      0         33.544444  0.319588  0.144330  19.412328    0.938144
       1         25.901566  0.494253  0.643678  22.055700    0.091954
3      0         26.555556  0.672043  0.384409  13.669364    0.755376
       1         20.646118  0.436975  0.420168  13.694887    0.319328

                    alone  sex_onehot     fare_100
pclass survived
1      0         0.637500    0.037500  6468.400750
       1         0.426471    0.669118  9560.802868
2      0         0.701031    0.061856  1941.232784
       1         0.413793    0.804598  2205.570000
3      0         0.685484    0.193548  1366.936425
       1         0.579832    0.605042  1369.488739

In [ ]:
groups.std() # 표준편차구하기

<ipython-input-32-fab2e3ce2ad1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groups.std()

                       age     sibsp     parch       fare  adult_male  \
pclass survived
1      0         15.284243  0.555610  0.700813  60.662089    0.191182
       1         13.760017  0.632412  0.690387  85.286820    0.463716
2      0         12.151581  0.550500  0.432765  15.307175    0.242145
       1         14.837787  0.644720  0.820904  10.853502    0.290636
3      0         12.334882  1.504700  0.914144  12.118338    0.430443
       1         11.995047  0.829934  0.807757  10.692993    0.468188

                    alone  sex_onehot     fare_100
pclass survived
1      0         0.483755    0.191182  6066.208928
       1         0.496392    0.472270  8528.682026
2      0         0.460184    0.242145  1530.717514
       1         0.495367    0.398809  1085.350197
3      0         0.464948    0.395611  1211.833764
       1         0.495673    0.490909  1069.299324

**groupby 에서 통계치 살펴보기**

: agg함수를 이용한다

groupby('칼럼').agg(변수명 = ('기준칼럼1','통계치'),...)

In [ ]:
tt.groupby('pclass').agg(survived_mean = ('survived','mean'))

        survived_mean
pclass
1            0.629630
2            0.472826
3            0.242363

In [ ]:
tt.groupby('pclass').agg(fare_sum = ('fare','sum'))

          fare_sum
pclass
1       18177.4125
2        3801.8417
3        6714.6951

In [ ]:
tt.groupby('pclass').agg(survived_sum = ('survived','sum'),
                         survived_mean = ('survived','mean'),
                         survived_count = ('survived','count'))

        survived_sum  survived_mean  survived_count
pclass
1                136       0.629630             216
2                 87       0.472826             184
3                119       0.242363             491

In [ ]:
def min_max(x):
  return x.max() - x.min() # 함수 정의

In [ ]:
grouped.agg(min_max)

<ipython-input-39-dba9cc767255>:1: FutureWarning: ['sex', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  grouped.agg(min_max)

        survived    age  sibsp  parch      fare  sex_onehot  fare_100
pclass
1              1  79.08      3      4  512.3292           1  51232.92
2              1  69.33      3      3   73.5000           1   7350.00
3              1  73.58      8      6   69.5500           1   6955.00

In [ ]:
grouped.agg({'survived' : ['sum', 'mean', 'std']})

       survived
            sum      mean       std
pclass
1           136  0.629630  0.484026
2            87  0.472826  0.500623
3           119  0.242363  0.428949

**데이터 병합하기**

1. concat : 덩어리와 덩어리가 붙음 (그대로)

pd.concat([컬럼1,컬럼2], axis =0/1)

axis = 0 은 위/아래로 붙음, axis = 1 은 옆으로 붙음

2. merge : 덩어리와 덩어리가 병합하여 하나의 새로운 덩어리 생성

pd.merge(왼쪽컬럼(기준), 오른쪽컬럼(그다음), how='병합방법', on='공통기준컬럼')

In [ ]:
one = pd.DataFrame({'학회원번호' : [1,2,3,4,5],
                    '학회원분반' : ['Python', 'SQL', 'R', '데이터분석입문','데이터분석전처리']})

In [ ]:
two = pd.DataFrame({'학회원번호' : [1,2,3,4,5],
                    '상점현황': [5,5,10,0,3]})

In [ ]:
pd.merge(one,two, how = 'inner', on = '학회원번호')

   학회원번호     학회원분반  상점현황
0      1    Python     5
1      2       SQL     5
2      3         R    10
3      4   데이터분석입문     0
4      5  데이터분석전처리     3

In [ ]:
pd.concat([one,two])

   학회원번호     학회원분반  상점현황
0      1    Python   NaN
1      2       SQL   NaN
2      3         R   NaN
3      4   데이터분석입문   NaN
4      5  데이터분석전처리   NaN
0      1       NaN   5.0
1      2       NaN   5.0
2      3       NaN  10.0
3      4       NaN   0.0
4      5       NaN   3.0

In [ ]:
pd.concat([one,two], axis = 1)

   학회원번호     학회원분반  학회원번호  상점현황
0      1    Python      1     5
1      2       SQL      2     5
2      3         R      3    10
3      4   데이터분석입문      4     0
4      5  데이터분석전처리      5     3